<!DOCTYPE html>
<html>
<head>
<title>Deletedbook</title>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
 <body>
 <img id="booklounge" class="center" src="Images/booklounge.png">

 <div class="container">
  <div class="rectangle">
    <h2>New Books We Love</h2>
  </div>
  <div class="rectangle mid">
    <h2>Book Finder</h2>   </div>
  <div class="rectangle">
    <h2>View our Book Lists</h2>
  </div>
</div>
 <br>
 <div class="reading">
 
</div>


<style>

.reading {
  background-color:  #f2f2f2;
  font-size: 20px;
  text-align: center;
  max-width: 100%;
  width: 1500px;
}

img {
  width: 1500px;
}

h1 {
  font-family: Dancing Script;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  max-width: 1500px;
  justify-content: space-evenly;
  width: 1500px;
  font-size: 30px;
}

#formsignup {
  flex: none;
  width: 100px;
  font-size: 14px;
  align-self: top;
  position: relative;
  top: 20px;
  padding: 40px;
}


#lost {
  width: 400px;
  height: 400px;
  flex: none;
  align-self: top;
  padding: 40px;
}

#formback {
  width: 200px;
  font-size: 40px;
  padding: 8px;
  margin: 2px;
  float: top;
  position: relative;
  top: 1px;
}

#submit {
  width: 130px;
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .rectangle {
    font-family: Dancing Script;
    background:  #e6ffff;
    color: gray;
    padding: 20px;
    transition: 2.9s background;
    height: 100px;
    flex: 1 1 220px;
  }
  
  .mid {
    background:  #f2f2f2;;
  }
  
  .rectangle:hover {
    background: #db8ee6;
  }
  
  h2 {
    font-size: 30px;
  }

  label {
    cursor: default;
    float: left;
  }


</style>
</html>