<form action="/books/<%= @book_id %>" method="post">
<input type="hidden" name="_method" value="PATCH" />
 <label for="title">Title</label>
 <input type="text" name="title" />
 <label for="author">Author</label>
 <input type="text" name="author" />
 <label for="genre">Genre</label>
 <input type="text" name="genre" />
 <label for="isbn">Isbn</label>
 <input type="text" name="isbn" />
<input type="submit" value="Update Book Record" />
</form>