<!DOCTYPE html>
<html>
<body>

<h1 align="center">Book added to the database</h1>

<img class="center" src="http://localhost:9292/Images/book.gif">

<div class="books">
<ol>
   <% @books.each do |book| %>
     
     <li>
       <h3><%= book.title %></h3>
           <%= book.author %>
         <p><%= book.genre %></p>
         <p><%= book.isbn%></p>     
    </li>
   <% end %>
 </ol>
 </div>

<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.books {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}


</style>

</body>
</html>