<!DOCTYPE html>
<html>
<body>
<div class="reading">
<h1 align="center">The Book Lounge</h1>
<h3 align="center">Book added to the database</h3>

<img class="center" src="http://localhost:9292/Images/book.gif">

<div class="books">
<ol>
   <% @books.each do |book| %>
     
     <li>
       <h3><%= book.title %></h3>
           <%= book.author %>
         <p><%= book.genre %></p>
         <p><%= book.isbn%></p>     
    </li>
   <% end %>
 </ol>
 </div>

<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.books {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.body {
  background-color: rgb(204, 230, 255);
}

.reading {
  background-color: #9999ff;
  font-size: 20px;
  text-align: center;
}

</style>
<div class="reading">
</body>
</html>