<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<img id="booklounge" class="center" src="Images/booklounge.png">
<h1 align="center" id="looking">Looking for your next read?</h1>
<div class="container">
  <div class="rectangle">
    <h2>New Books We Love</h2>
  </div>
  <div class="rectangle mid">
    <h2>Book Finder</h2>   </div>
  <div class="rectangle">
    <h2>View our Book Lists</h2>
  </div>
</div>
<div class="reading">
<div class="form">
<form action='/signup' method='get'>
    <button class='signup' name="signup" type='submit'>Sign Up</button>
</form>
<br>
<br>
<form action='/login' method='get'>
    <button class='login' name="login" type='submit'>Login</button>
</form>
</div>
<h2 align="center">Look no further...</h2>
<form action="/searchbooks" method="post">
<label for="title">
Search for a book:
  <input type="text" name="title" placeholder="title">
  <input type="text" name="author" placeholder="author">
  </label>
  <input type="submit" value="search">
</form>
<br>
<br>
<br>
<br>
<form action="/booksadded" method="post">
<label for="title2">
Add a book:
  <input type="text" name="title2" placeholder="title">
  <input type="text" name="author2" placeholder="author">
  <input type="text" name="genre2" placeholder="genre">
  <input type="text" name="isbn2" placeholder="isbn">
  <input type="submit" value="Add">
</form>
<br>
<br>
<h2>View all Books</h2>
<div class="allbooks">
<form action="/allbooks" method="post">
<input class="allbooks" type="submit" value="View All Books">
</form>
</div>

</div>
</body>

<style>
.reading {
  background-color:  #f2f2f2;
  font-size: 20px;
  text-align: center;
  width: 1500px;
}

p {
  font-size: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 400px;
}

.form {
  float: right;
  position: relative;
  top: 20px;
}


.signup {
  width: 70px;
  height: 40px;
  position: absolute;
  right: 1100px;
  background-color: #e6ffff;
}

.login {
  width: 70px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: #e6ffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
  }
  
  .rectangle {
    font-family: Dancing Script;
    background:  #e6ffff;
    color: gray;
    padding: 20px;
    transition: 2.9s background;
    height: 100px;
    flex: 1 1 220px;
  }
  
  .mid {
    background:  #f2f2f2;;
  }
  
  .rectangle:hover {
    background: #db8ee6;
  }
  
  h2 {
    font-size: 30px;
  }

  #booklounge {
    width: 1500px;

  }

  #looking {
    font-family: 'Dancing Script', cursive;
  }

  h2 {
    font-family: Dancing Script;
  }

  



</style>
</html>