
<!DOCTYPE html>
<html>
<body>
<div class="reading"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> {(Login} </title>
  </head>
  
  <div id="wrapper">
  <h1>Fill in the fields to sign in</h1>
    <form action='/login' method=post >
    <input type=text class=text_field name='email' placeholder='Enter your email'>
    <input type=text class=text_field name='password' placeholder='Enter a password'>
    <input type=submit value=Submit>
    </form>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</body>

<style>
.reading {
  background-color: #9999ff;
  font-size: 20px;
  text-align: center;
}


</style>
</html>