
<!DOCTYPE html>
<html>
<body>
<div class="reading">
<h1>You have logged out of The Book Lounge</h1>



</div>
</body>

<style>
.reading {
  background-color: #9999ff;
  font-size: 20px;
  text-align: center;
}


</style>
</html>