
<!DOCTYPE html>
<html>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> {(Signup)} </title>
  </head>
  
  <div id="wrapper">
  <form action='/signup' method=post >
    <input type=text class=text_field name='name' placeholder='Enter your full name'>
    <input type=text class=text_field name='email' placeholder='Enter your email'>
    <input type=text class=text_field name='phone_number' placeholder='Enter your phone number'>
    <input type=text class=text_field name='password' placeholder='Enter a password'>
    <input type=submit value=Submit>
    </form>
</div>


</div>
</body>

<style>
.body {
  background-color: #9999ff;
  font-size: 20px;
  text-align: center;
}


</style>
</html>