
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title> {(Login} </title>
  </head>
  <body>
  <div class="reading">
  <img id="booklounge" class="center" src="Images/booklounge.png">
  <div id="wrapper">
  <h1 align="center">Fill in the fields to log in</h1>
    <form action='/sessions' method="post">
    <input type='text'  name='name' placeholder='Enter your name'>
    <input type='text' name='email' placeholder='Enter your email'>
    <input type='text' name='password' placeholder='Enter your password'>
    <input type="submit" value="Log in">
    </form>
  </div>
  <form id="formback" action="/" method="get">
  <input type="submit" value="Back to Home">
  </form>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</body>

<style>
.reading {
  background-color: #e6ffff;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: Dancing-Script;
}


</style>
</html>